<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>IRIS - Control Box</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" href="css/icon.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/duyplus/fontawesome-pro/css/all.min.css"> -->
  <link rel="stylesheet" href="css/controlbox.css" />

  <!-- script -->
  <script src="js/lib/roslib-0.20.0.min.js"></script>
  <script src="js/lib/eventemitter2.js"></script>
  <script src="js/lib/angular-1.7.2.min.js"></script>
  <script src="js/lib/jquery-3.4.1.min.js"></script>
  <script src="js/field.js"></script>
  <script src="js/route.js"></script>
</head>

<body ng-app="MainAppField" ng-controller="FieldController" class="bg-zinc-900 text-zinc-50 overflow-hidden">
  <div class="grid grid-rows-10 gap-2">
    <div class="row-span-2 m-4">
      <h1 class="text-center font-semibold text-4xl">Field ControlBox</h1>
    </div>

    <!-- TOGGLE -->
    <div class="vision-toggle">
      <div class="switch-toggle">
        <label class="switch">
          <input id="toggle" ng-click="toggleVision($event.currentTarget)" ng-init="initToggle()" type="checkbox">
          <div class="slider-toggle"></div>
          <!-- {{ toggleSetter().css }} -->
        </label>
      </div>
      <h1>{{variablechange}}</h1>
    </div>

    <!-- TOGGLE -->

    <div class="flex flex-row ">
      <div class="flex flex-col mx-auto">
        <button onclick="toField()" class="p-4 mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Field
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toGoalKeeper()"
          class="p-4 mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          GoalKeeper
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toBall()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Ball
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toLine()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Line
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toICP()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          ICP
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toGrapher()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Grapher
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toPassingPoints()"
          class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          PassingPoints
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toExport()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Export
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toVirtualPoints()"
          class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Virtual Points
        </button>
      </div>
    </div>



    <div class="grid grid-cols-9 row-span-8 gap-6 m-1">
      <div class="col-span-4 ">
        <h1 class="text-center font-semibold text-2xl">Robot Display</h1>
        <br> <br>

        <!-- display camera -->
        <div class="flex flex-row">

          <div class="flex flex-col">
            <div class="mb-4 mx-4 w-[270px] h-[540px] bg-transparent shadow-lg">
              <h3 class="text-center py-2">All Display</h3>
              <img class="w-full h-full object-contain" src="{{ frame_field_rgb }}" alt="" />
            </div>
            <!-- Make pause or resume button bellow frame -->
            <div class="mx-auto">
              <button ng-click="PauseStartStream(0)"
                class="{{GetButtonState(0).css}} text-slate-50 rounded-md px-3 py-2">
                {{GetButtonState(0).text}}
              </button>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="mb-4 mx-4 w-[270px] h-[540px] bg-transparent shadow-lg">
              <h3 class="text-center py-2">All Display</h3>
              <img class="w-full h-full object-contain" src="{{ frame_field_binary }}" alt="" />
            </div>
            <!-- Make pause or resume button bellow frame -->
            <div class="mx-auto">
              <button ng-click="PauseStartStream(0)"
                class="{{GetButtonState(0).css}} text-slate-50 rounded-md px-3 py-2">
                {{GetButtonState(0).text}}
              </button>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="mb-4 mx-4 w-[270px] h-[540px] bg-transparent shadow-lg">
              <h3 class="text-center py-2">Raw Threshold</h3>
              <img class="w-x`full h-full object-contain" src="{{ frame_field_3 }}" alt="" />
            </div>
            <!-- Make pause or resume button bellow frame -->
            <div class="mx-auto">
              <button ng-click="PauseStartStream(1)"
                class="{{GetButtonState(1).css}} text-slate-50 rounded-md px-3 py-2">
                {{GetButtonState(0).text}}
              </button>
            </div>
          </div>

          <!-- THRESHOLDING -->
          <div class="flex flex-col ">
            <div class="col-span-5 bg-zinc-700 rounded-2xl overflow-hidden">
              <h1 class="text-center font-semibold text-2xl">Thresholding</h1>
              <div class="px-4 py-4 gap-4 grid grid-cols-2">
                <div class="slider my-auto">
                  <!-- REPEAT THRESSHOLD -->
                  <div class="grid grid-cols-6 pb-2" ng-repeat="i in field_threshold_params   ">
                    <h1 class="col-span-1 place-self-center">{{i.label}}</h1>
                    <input ng-change="PublishThresholdParams(field_threshold_params )" type="range"
                      class="col-span-4 w-full" min="{{i.min}}" max="{{i.max}}" ng-model="i.value" />
                    <h1 class="col-span-1 place-self-center">{{i.value}}</h1>
                  </div>
                </div>
                <div class="helper place-self-center">
                  <div class="w-full">
                    <img src="./hsv.png" class="w-full" alt="hsv" />
                  </div>
                </div>
              </div>

              <div class="flex pb-4">
                <button ng-click="set_default_thresshold_lapangan()"
                  class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
                  Reset to Default
                </button>
              </div>
            </div>
            <div class="flex flex-col  px-3 " style="margin-top: 2rem;">
              <div class="col-span-6 bg-zinc-700 rounded-2xl overflow-hidden">
                <h1 class="text-center font-semibold text-2xl">Camera Params</h1>
                <div class="slider my-auto px-4">
                  <!-- REPEAT THRESSHOLD -->
                  <div class="grid grid-cols-6 pb-2" ng-repeat="i in camera_params">
                    <h1 class="col-span-1 place-self-center px-3">{{i.label}}</h1>
                    <input ng-change="PublishCameraParams(camera_params)" type="range" class="col-span-4 w-full"
                      min="{{i.min}}" max="{{i.max}}" ng-model="i.value" />
                    <h1 class="col-span-1 place-self-center">{{i.value}}</h1>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- CAMERA PARAMS -->
          <!-- <div class="flex flex-col px-3 ">
            <div class="col-span-6 bg-zinc-700 rounded-2xl overflow-hidden">
              <h1 class="text-center font-semibold text-2xl">Camera Params</h1>
              <div class="slider my-auto px-4"> -->
          <!-- REPEAT THRESSHOLD -->
          <!-- <div class="grid grid-cols-6 pb-2" ng-repeat="i in camera_params">
                  <h1 class="col-span-1 place-self-center px-3">{{i.label}}</h1>
                  <input ng-change="PublishCameraParams(camera_params)" type="range" class="col-span-4 w-full"
                    min="{{i.min}}" max="{{i.max}}" ng-model="i.value" />
                  <h1 class="col-span-1 place-self-center">{{i.value}}</h1>
                </div>
              </div> -->

        </div>
      </div>





    </div>
  </div>
  </div>
  </div>
</body>

</html>