<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>IRIS Control Box</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script src="js/lib/roslib-0.20.0.min.js"></script>
    <script src="js/lib/eventemitter2.js"></script>
    <script src="js/lib/angular-1.7.2.min.js"></script>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body ng-app="mainApp" ng-controller="mainAppController">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light mb-5 text-center d-flex justify-content-center"
    >
      <button
        type="button"
        class="btn {{menu_buttonState(0)}}"
        ng-click="changeActiveIndex( 0 )"
      >
        Monitor
      </button>
      <button
        type="button"
        class="btn {{menu_buttonState(1)}}"
        ng-click="changeActiveIndex( 1 )"
      >
        Field
      </button>
      <button
        type="button"
        class="btn {{menu_buttonState(2)}}"
        ng-click="changeActiveIndex( 2 )"
      >
        Ball
      </button>
      <button
        type="button"
        class="btn {{menu_buttonState(3)}}"
        ng-click="changeActiveIndex( 3 )"
        disabled
      >
        Visualizer
      </button>

      <!-- <button type="button" class="btn {{menu_buttonState(4)}}" ng-click="changeActiveIndex( 4 )">Obverse Cam</button> -->
      <button
        type="button"
        class="btn {{menu_buttonState(4)}}"
        ng-click="changeActiveIndex( 4 )"
        disabled
      >
        Obverse Cam
      </button>
      <!-- <button type="button" class="btn {{menu_buttonState(5)}}" ng-click="changeActiveIndex( 5 )" >Calibrate</button> -->
      <button
        type="button"
        class="btn {{menu_buttonState(5)}}"
        ng-click="changeActiveIndex( 5 )"
        disabled
      >
        Calibrate
      </button>
    </nav>

    <div class="container">
      <div
        class="row text-center d-flex align-items-center"
        ng-if="!menu_contentState(3) && !menu_contentState(4)"
      >
        <!-- Robot Vision Display -------------------------------------------->
        <div
          class="col col-sm-8"
          ng-if="!menu_contentState(4) && !menu_contentState(5)"
        >
          <div class="row">
            <div class="col col-sm-4">
              <img src="{{ frame_obstacleDisplayOut }}" />
            </div>
            <div class="col col-sm-4">
              <img src="{{ frame_fieldRawThreshold }}" />
            </div>
            <div class="col col-sm-4">
              <img src="{{ frame_ballRawThreshold }}" />
            </div>
            <div class="col col-sm-4">
              <img src="{{frame_calibrateRawThreshold}}" />
            </div>
          </div>
        </div>
        <!-- Field Threshold ------------------------------------------------->
        <div class="col col-sm-4" ng-if="menu_contentState(1)">
          <div class="row" ng-repeat="i in field_thresholdParameter">
            <div class="col col-sm-2">{{i.label}}</div>
            <div class="col col-sm-8">
              <input
                type="range"
                class="custom-range"
                min="{{i.min}}"
                max="{{i.max}}"
                ng-model="i.value"
                ng-change="pub_field_threshold_value(field_thresholdParameter)"
              />
            </div>
            <div class="col col-sm-2">{{i.value}}</div>
          </div>
        </div>
        <!-- Ball Threshold -------------------------------------------------->
        <div class="col col-sm-4" ng-if="menu_contentState(2)">
          <div class="row" ng-repeat="i in ball_thresholdParameter">
            <div class="col col-sm-2">{{i.label}}</div>
            <div class="col col-sm-8">
              <input
                type="range"
                class="custom-range"
                min="{{i.min}}"
                max="{{i.max}}"
                ng-model="i.value"
                ng-change="pub_ball_threshold_value(ball_thresholdParameter)"
              />
            </div>
            <div class="col col-sm-2">{{i.value}}</div>
          </div>
        </div>
        <!-- Calibrate Threshold -------------------------------------------------->
        <div class="col col-sm-4" ng-if="menu_contentState(5)">
          <div class="row" ng-repeat="i in calibrate_thresholdParameter">
            <div class="col col-sm-2">{{i.label}}</div>
            <div class="col col-sm-8">
              <input
                type="range"
                class="custom-range"
                min="{{i.min}}"
                max="{{i.max}}"
                ng-model="i.value"
                ng-change="pub_calibrate_threshold_value(calibrate_thresholdParameter)"
              />
            </div>
            <div class="col col-sm-2">{{i.value}}</div>
          </div>
        </div>
      </div>

      <div class="row text-center" ng-if="menu_contentState(4)">
        <!-- Robot Vision Obverse Display -------------------------------------------->
        <div class="col col-sm-8">
          <div class="row" style="margin-bottom: 20px">
            <div class="col col-sm-4">
              <img
                style="width: 300%; max-width: 600px"
                id="frame_obverseRawThreshold_id"
                src="{{ frame_obverseDisplayOut }}"
              />
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-4">
              <img
                style="width: 300%; max-width: 600px"
                id="frame_obverseRawThreshold_id"
                src="{{ frame_obverseRawThreshold }}"
              />
            </div>
          </div>
        </div>
        <!-- Obverse Threshold -------------------------------------------------->
        <div class="col col-sm-4">
          <div class="row" ng-repeat="i in obverse_thresholdParameter">
            <div class="col col-sm-2">{{i.label}}</div>
            <div class="col col-sm-8">
              <input
                type="range"
                class="custom-range"
                min="{{i.min}}"
                max="{{i.max}}"
                ng-model="i.value"
                ng-change="pub_obverse_threshold_value(obverse_thresholdParameter)"
                onchange="updateFrame()"
              />
            </div>
            <div class="col col-sm-2">{{i.value}}</div>
          </div>
        </div>
      </div>

    </div>

    <!-- <script src="js/lib/fabric.min.js"></script>
    <script src="js/field.js"></script> -->
  </body>
</html>
