<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passing Point</title>
  <link rel="stylesheet" href="css/controlbox.css" />


  <script src="js/lib/roslib-0.20.0.min.js"></script>
  <script src="js/lib/eventemitter2.js"></script>
  <script src="js/lib/angular-1.7.2.min.js"></script>
  <script src="js/lib/jquery-3.4.1.min.js"></script>
  <script src="js/passingpoints.js"></script>
  <script src="js/route.js"></script>

</head>

<body ng-app="mainApp" ng-controller="mainAppController">

  <div class="grid grid-rows-10 gap-2">
    <div class="row-span-2 m-4">
      <h1 class="text-center font-semibold text-4xl">Passing Points</h1>
    </div>

    <!-- TOGGLE -->
    <div class="vision-toggle">
      <div class="switch-toggle">
        <label class="switch">
          <input id="toggle" ng-click="toggleVision($event.currentTarget)" ng-init="initToggle()" type="checkbox">
          <div class="slider-toggle"></div>
        </label>
      </div>
      <h1>{{variablechange}}</h1>
    </div>

    <!-- TOGGLE -->

    <div class="flex flex-row ">
      <div class="flex flex-col mx-auto">
        <button onclick="toField()"
          class="p-4 mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Field
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toGoalKeeper()"
          class="p-4 mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          GoalKeeper
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toBall()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Ball
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toLine()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Line
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toICP()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          ICP
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toGrapher()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Grapher
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toPassingPoints()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          PassingPoints
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toExport()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Export
        </button>
      </div>
      <div class="flex flex-col mx-auto">
        <button onclick="toVirtualPoints()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Virtual Points
        </button>
      </div>
    </div>
    <div class="center">
        <button ng-click="toggleFrame()" class="mx-auto hover:bg-orange-700 bg-orange-500 text-bla px-2 py-1 rounded-lg">
          Toggle Frame
        </button>
        <h1>Passing Point: <span id="passing-points"></span></h1>
        <h1>Robot Pose: <span id="robot-pose"></span></h1>
        <h1>Robot Role: <span id="robot-role"></span></h1>
        <h1>Attacker Pose: <span id="attacker-pose"></span></h1>
        <h1>Assist Pose: <span id="assist-pose"></span></h1>
    </div>
    <div class="vision-toggle">
      <div class="switch-toggle">
        <label class="switch">
          <input id="toggleNearGoal" ng-click="toggleNearGoal($event.currentTarget)" ng-init="initToggleNearGoal()" type="checkbox">
          <div class="slider-toggle"></div>
        </label>
      </div>
      <h1>{{state_near_goal}}</h1>
      <div class="switch-toggle">
        <label class="switch">
          <input id="toggleNearAssist" ng-click="toggleNearAssist($event.currentTarget)" ng-init="initToggleNearAssist()" type="checkbox">
          <div class="slider-toggle"></div>
        </label>
      </div>
      <h1>{{state_near_assist}}</h1>
    </div>
  </div>
  <div class="separator">
    <div class="image">
      <img class="frameBall" src="{{ frame_potential_2d }}" alt="" />
    </div>
  </div>


  <style>
    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }
  </style>
</body>

</html>